#app-features{
     margin-top: 5rem;
}

#app-features .content{
     background-color: var(--color-3);
     clip-path: polygon(0 0, 50% 60px, 100% 0, 100% 100%, 50% 69rem, 0 100%);
}

#app-features .container{
     display: flex;
     align-items: center;
     margin-top: 5rem;
     height: 76rem;
}

#app-features .c-item{
     display: flex;
     /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
     align-items: center;
}